$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
.px-btn {
  display: inline-block;
  margin: pr(10px) 0;
  padding: 0 pr(18px);
  line-height: pr(44px);
  background-image: linear-gradient(132deg, #ee4e5c 0%, #cf3340 100%), linear-gradient(#757575, #757575);
  background-blend-mode: normal, normal;
  box-shadow: 0px pr(3px) pr(6px) 0px rgba(207, 51, 64, 0.24);
  border-radius: pr(22px);
  font-size: pr(22px);
  color: #ffffff;
}
// 底部
.footer-site{
  width: 100%;
  height: pr(98px);
}
.px-footer{
  display: flex;
  width: pr(750px);
  height: pr(98px);
  background: url(https://img.thea.cn/public/platform/thea/202001/hbj/ksw-wap/images/footer.png) no-repeat #fff;
  background-size: 100% 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 30;
  a{
    width: 20%;
    height: 100%;
  }
}
/* 弹窗 */
.px-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: none;
  .masklayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .popup-cont {
    width: pr(600px);
    height: pr(632px);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: pr(152px) pr(20px) pr(20px);
    box-sizing: border-box;
    background-size: 100% 100%;
    .popup-close {
      width: pr(24px);
      height: pr(24px);
      position: absolute;
      top: pr(20px);
      right: pr(20px);
      cursor: pointer;
      margin-right: 0;
    }
    .sign-in {
      padding: pr(30px);
      
      background-color: #ffffff;
      border-radius: pr(4px);
      input,
      select {
        width: pr(413px);
        height: pr(62px);
        line-height: pr(62px);
        font-size: pr(26px);
        background-color: #ffffff;
        border: solid 1px #e7e7e7;
        padding: 0 pr(20px);
        box-sizing: border-box;
        appearance: none;
        -webkit-appearance: none;
      }
      select {
        background: url(https://img.thea.cn/public/platform/thea/202001/hbj/ksw-wap/images/sel.png) no-repeat 94%;
      }
      .row {
        margin-bottom: pr(20px);
        text-align: center;
      }
      input[type="submit"] {
        border: none;
        width: 100%;
        background-image: linear-gradient(132deg, #e94106 0%, #cf3340 100%), linear-gradient(#ffffff, #ffffff);
        background-blend-mode: normal, normal;
        box-shadow: 0px pr(4px) pr(6px) 0px rgba(207, 51, 64, 0.26);
        font-size: pr(28px);
        font-weight: bold;
        border-radius: pr(31px);
        color: #fff;
        cursor: pointer;
      }
    }
  }
}